</main>
<footer>
    <div>
        <div>
            <h1>COMUNIDA</h1>
            <h2>COCINERA</h2>    
        </div>
        <nav>
            <a class="<%= title.includes('HOME') ? 'active' : null %>" href="/">Home</a>
            <a class="<%= title.includes('RECETARIO') ? 'active' : null %>" href="/recetas">Recetas</a>
            <% if (userLogIn) { %>
                <a class="<%= title.includes('PERFIL') ? 'active' : null %>" href="/usuario">Mi perfil</a>
                <a class="<%= title.includes('MIS') ? 'active' : null %>" href="/recetas-del-usuario">Mis recetas</a>
                <a class="<%= title.includes('NUEVA') ? 'active' : null %>" href="/nueva-receta">Nueva receta</a>
                <a href="/salir">Salir</a>
            <% } else { %>
                <a class="<%= title.includes('INGRESO') ? 'active' : null %>" href="/ingreso">Ingresar</a>
                <a class="<%= title.includes('REGISTRO') ? 'active' : null %>" href="/nuevo-usuario">Registrarse</a>
            <% } %>
        </nav>
    </div>
    <div>
        <h4> © Todos los derechos reservados || JuanEduardo CastroTrujillo </h4>
    </div>

</footer>
<script src='/scripts/script.js'></script>
</body>
</html>