<body class="<%= title %>">
    <header>
        <div>
            <h1>COMUNIDAD</h1>    
            <h2>COCINERA</h2>    
        </div>
        <nav>
            <a class="<%= title.includes('HOME') ? 'active' : null %>" href="/">Home</a>
            <a class="<%= title.includes('RECETARIO') ? 'active' : null %>" href="/recetas">Recetas</a>

            <!-- para bloquear si no hay usuario -->
            <% if (userLogIn) { %>
                <a class="<%= title.includes('PERFIL') ? 'active' : null %>" href="/usuario">Mi perfil</a>
                <a class="<%= title.includes('MIS') ? 'active' : null %>" href="/recetas-del-usuario">Mis recetas</a>
                <a class="<%= title.includes('NUEVA') ? 'active' : null %>" href="/nueva-receta">Nueva receta</a>
                <a href="/salir">Salir</a>
            <% } else { %>
                <a class="<%= title.includes('INGRESO') ? 'active' : null %>" href="/ingreso">Ingresar</a>
                <a class="<%= title.includes('REGISTRO') ? 'active' : null %>" href="/nuevo-usuario">Registrarse</a>
            <% } %>
        </nav>
    </header>
    <main>