<%-  include('partials/head.ejs') %> 
<%-  include('partials/header.ejs') %> 

    <% let titleOrError = errorMessage ? errorMessage : 'Agrega tu receta y compártela en' %>
        <div class="newRecipeBox">
            <div class="newRecipeTitle">
                <h2><%= titleOrError %>  <span><%= !errorMessage ? 'COMUNIDAD COCINERA' : null %></span></h2>
            </div>
            <form action="/nueva-receta" method="POST">
                <div class="newRecipeForm">
                    <div>
                        <label for="recipePhoto" >Sube un URL de la foto:</label>
                        <input type="text" name="recipePhoto" id="recipePhoto" required/>
                    </div>
                    <div>
                        <label for="recipeTitle" >Titulo receta:</label>
                        <input type="text" name="recipeTitle" id="recipeTitle" required/>
                    </div>
                    <div>
                        <label for="description" >Descripción:</label>
                        <input type="text" name="description" id="description" required/>
                    </div>
                    <div>
                        <label for="duration" >Duración:</label>
                        <input type="text" name="duration" id="duration" required/>
                    </div>
                    <div>
                        <label for="rations" >Raciones:</label>
                        <input type="text" name="rations" id="rations" required/>
                    </div>
                    <div class="newRecipeIngredients">
                        <div class="ingredientsLine">
                            <button>+</button>
                            <label for="ingredients" >Ingrediente:</label>
                            <input type="text" name="ingredients" id="ingredients" />
                        </div>
                        <div class="ingredientsLine">
                            <input type="text" name="ingredients" id="ingredients" />
                        </div>

                    </div>
                    <div class="newRecipeSteps">
                        <div class="stepsLine">
                            <label for="steps" >Procedimiento:</label>
                            <input type="text" name="steps" id="steps" />
                        </div>                   
                    </div>                  
                </div>
                <div class="newRecipeButton">
                    <input type="submit" value="Enviar" />
                </div>
            </form>
        </div>

<%-  include('partials/footer.ejs') %> 
