<%-  include('partials/head.ejs') %> 
<%-  include('partials/header.ejs') %> 

    <% let titleOrError = errorMessage ? errorMessage : 'Encuentra la receta que mas te guste y empieza a cocinar' %>
    <div class="recipesBox">
        <div class="recipesBoxTitle">
            <p><%= titleOrError %></p>
        </div>
    <% recipesList.map((recipe, index) => { %>
        <div class="recipeCard">
            <div class="recipeCardPhoto" style="background-image: url('<%= recipe.recipePhoto %>')"> 
            </div>
            <div class="recipeCardBody">
                <div>
                    <p><%= recipe.recipeTitle %></p>
                </div>
                <div class="recipeCardDescription">
                    <p><%= recipe.description %></p>
                </div>
                <div>
                    <p>Duración:  <%= recipe.duration %></p>
                    <p>Rinde:  <%= recipe.rations %></p>
                </div>
                <div class="recipeCardIngredients">
                    <h4>Ingredientes:</h4>
                    <% let recripeIngredientsFiltered = recipe.ingredients.filter(ingredient => ingredient.length > 0) %>
                    <% recripeIngredientsFiltered.map((ingredient) => { %>
                        <p>- <%= ingredient %></p>
                    <% }) %>
                </div>
                <div class="recipeCardSteps">
                    <h4>Procedimiento:</h4>
                    <% let recripeStepsFiltered = recipe.steps.filter(step => step.length > 0) %>
                    <% recripeStepsFiltered.map((step, index) => { %>
                        <p><%= index + 1 %>. <%= step %></p>
                    <% }) %>
                </div>
            </di>
        </div>
    </div>
    <% }) %>
    
   
<%-  include('partials/footer.ejs') %> 