<%-  include('partials/head.ejs') %> 
<%-  include('partials/header.ejs') %> 

    <% let titleOrError = errorMessage ? errorMessage : 'Estas son tus recetas' %>
    <% let list = recipesList.length < 1 ? 'No tienes ninguna receta todavia' : titleOrError %>
    <div class="recipesBox">
        <div class="recipesBoxTitle">
            <p><%= errorMessage ? errorMessage : list %> <%= !errorMessage ? userName : null %></p>
        </div>
    <% recipesList.map((recipe, index) => { %>
        <div class="recipeCard">
            <div class="recipeCardPhoto" style="background-image: url('<%= recipe.recipePhoto %>')"> 
            </div>
            <div class="recipeCardBody">
                <div>
                    <div class="recipeCardTitle"><p><%= recipe.recipeTitle %></p></div>
                </div>
                <div class="recipeCardDescription"><p><%= recipe.description %></p></div>
                <div>
                    <div class="recipeCardDuration"><p>Duración:  <%= recipe.duration %></p></div>
                    <div class="recipeCardRations"><p>Rinde:  <%= recipe.rations %></p></div>
                </div>
                <div class="recipeCardIngredients">
                    <h4>Ingredientes:</h4>
                    <% let recripeIngredientsFiltered = recipe.ingredients.filter(ingredient => ingredient.length > 0) %>
                    <% recripeIngredientsFiltered.map((ingredient) => { %>
                        <p>- <%= ingredient %></p>
                    <% }) %>
                </div>
                <div class="recipeCardSteps">
                    <h4>Procedimiento:</h4>
                    <% let recripeStepsFiltered = recipe.steps.filter(step => step.length > 0) %>
                    <% recripeStepsFiltered.map((step, index) => { %>
                        <p><%= index + 1 %>. <%= step %></p>
                    <% }) %>
                </div>
            </di>
            <div class="recipeCardEditButton">
                <a href="/receta/<%= recipe._id %>" ><p>Editar receta</p></a>
            </div>
        </div>
    </div>
    <% }) %>
    
   
<%-  include('partials/footer.ejs') %> 